@tailwind base;
@tailwind components;
@tailwind utilities;




.unique {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.special {
    font-family: "Jaro", sans-serif;
 
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}


.spec {
  font-family: "Patrick Hand", cursive;

}